<div class="jumbotron">
  <h1 class="display-4">RailsUERP</h1>
  <p class="lead">A beginning to a university enterprise resource planning app</p>
  <hr class="my-4">
  <p>Now that you're here, make sure to add some people with their bio/demo data and manage their different name types. <%= link_to 'Get started here.', people_path %></p>
</div>
