@import "bootstrap";

body {
  background-color: #e5edf6;
}

h3 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

body *,
.form-control {
  color: #8d7c3c;
  font-family: 'Montserrat', sans-serif;
}

label {
  font-weight: 600;
}

option:disabled,
input:disabled {
  color: #ff8989;
}

.page {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 30px;
}

.navbar {
  background-color: #26619c !important;
}

.navbar *,
.badge *,
.btn {
  color: #f4d251 !important;
}

.navbar-brand {
  font-weight: 700;
}

.nav-item {
  font-weight: 500;
}

.jumbotron {
  margin-top: 2rem;
  background-color: #f0f0f0;
}

.badge {
  font-size: 95%;
  font-weight: 600;
  background-color: #5b88b4 !important;
  color: #f4d251 !important;
}

.badge:hover,
.badge:focus,
.btn:hover,
.btn:focus,
.navbar-brand:hover,
.navbar-brand:focus,
.nav-link:hover,
.nav-link:focus {
  opacity: 0.5;
}

.btn {
  background-color: #5b88b4 !important;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.display-4 {
  padding-bottom: 0.5rem;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

@media all and (max-width: 992px) {
  form,
  .form-control,
  .row,
  .btn {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 2.25rem;
  }
}
